*{
  margin: 0;
  padding: 0;
}
body{
  min-height: 100vh;
  width: 100vw;
  background-color: rgb(122, 144, 144);
  display: grid;
  grid-template-areas: "header "
  "main";
}
header{
  grid-area: header;
  padding: 5rem;
background-color: yellow;}

main{
  grid-area: main;
  background-color: green;
}

.first-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
.second-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.title{
  font-size: 1.5rem;
  padding-top: 0.5rem;
}
.user-input{
  padding: 0.36rem;
  border-radius: 0.5rem 0 0  0.5rem;
  border: 0;
  width: 15rem;
}
.submit-btn{
  padding: 0.9rem;
  border-radius:0  30%  30% 0 ;
  background: url(./assets/images/icon-arrow.svg) no-repeat center black;
  border: 0;
  }
.submit-btn:hover{
  background-color: rgb(39, 36, 36);
}
#map { height: 100vh; }