*{
  margin: 0;
  padding: 0;
}
body{
  min-height: 100vh;
  width: 100%;
  background-color: rgb(122, 144, 144);

  
}
header{
 
 
  padding: 0.5rem 1rem 4.5rem 1rem;
  background-image: url(./assets/images/pattern-bg-desktop.png);
  background-color: rgb(255, 255, 10);}

main{
 
  height: 80vh;
  background-color: green;
}

.first-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
.second-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.title{
  font-size: 1.5rem;
  padding-top: 0.5rem;
}
/* form style */
.user-input{
  padding: 0.36rem;
  border-radius: 0.5rem 0 0  0.5rem;
  border: 0;
  width: 15rem;
}
.submit-btn{
  padding: 0.9rem;
  border-radius:0  30%  30% 0 ;
  background: url(./assets/images/icon-arrow.svg) no-repeat center black;
  border: 0;
  }
.submit-btn:hover{
  background-color: rgb(39, 36, 36);
}
/* user info style */
ul{
  list-style: none;
  }
.ip-holder, .location-holder, .time-holder, .isp-holder{
  margin:  1rem  3rem 0 1rem;
  height: 3rem;
 }

.user-detail-info{
  width: 750px;
  padding: 1rem;
  border: 2px black solid;
  position: absolute;
  top: 22%;
 
  z-index: 1000;
  border-radius: 0.5rem;
  background-color: white;
  
  }

.vertical-line{
  border-left: 1px solid black;
  height: 4rem;
  margin-top: 1rem;
}
.info-title{
  font-size: 0.6rem;
  letter-spacing: 2px;
  font-weight: 500;
  text-align: start;
  padding-bottom: 3px;
  }
.info{
 text-align: start; 

}
[data-user-location]{
 padding-bottom:2px ;
 width: calc(max(10rem,12%));
}
#map { 
  height: 80vh;
  width: 100%;
  background-color: rgb(184, 184, 254);
 }